html, body {
  font-family: sans-serif;
  height: 99%;
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  /*margin: 0.2em;*/
  background-color: gainsboro;
}

.messages {
  height: 90%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  font-family: 'Knewave', cursive;
  color: white;
  padding: 12px 12px;
  font-size: 24px;
}

input, button {
  margin: 0.1em;
  font-size: 16px;
}


.nick-input {
  background: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
}

button {
  padding: 0.3em 1.2em;
  color: white;
  background-color: teal;
  text-align: center;
  border: none;
  border-radius: 5px;
}


#msg {
  flex-grow: 1;
}

.chat-message, .sent-message {
  display: inline-block;
  font-size: 16px;
  margin: 0.4em;
  padding: 10px 10px;
  background-color: white;
  border-radius: 5px;
  line-height: 1.8em;
}

.sent-message {
  background-color: lightsteelblue;
  align-self: flex-end;
}

.nick {
  font-weight: bold;
}
